.root {
  display: flex;
  align-items: flex-end;
}

.letter {
  display: block;
  opacity: 0;

  &:nth-child(1) {
    position: relative;
    width: tovw(37);
    height: tovw(31.8);
    margin-bottom: tovw(1);
    margin-right: 1px;
    opacity: 1;

    @include mobileAll {
      width: tovw(30);
      height: tovw(25);
      margin-bottom: 0;
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateX(155%) scale(1.38);
    }
  }

  &:nth-child(2) {
    width: tovw(24);
    height: tovw(22);
    margin-right: 1px;

    @include mobileAll {
      width: tovw(19);
      height: tovw(18);
    }
  }

  &:nth-child(3) {
    width: tovw(23);
    height: tovw(22);
    margin-right: tovw(3);

    @include mobileAll {
      width: tovw(19);
      height: tovw(17);
      margin-right: 1px;
    }
  }

  &:nth-child(4) {
    width: tovw(22);
    height: tovw(22);
    margin-right: tovw(2);

    @include mobileAll {
      width: tovw(18);
      height: tovw(18);
      margin-right: 1px;
    }
  }

  &:nth-child(5) {
    width: tovw(22);
    height: tovw(22);
    margin-right: tovw(1);

    @include mobileAll {
      width: tovw(18);
      height: tovw(18);
      margin-right: 1px;
    }
  }

  &:nth-child(6) {
    width: tovw(20);
    height: tovw(23);

    @include mobileAll {
      width: tovw(16);
      height: tovw(17s);
      margin-right: 1px;
    }
  }
}