.root {
  position: fixed;
  z-index: var(--z-header);
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: tovw(40) tovw(78) tovw(40) tovw(126);
  width: 100%;

  @include tabletAll {
    padding: tovw(20) tovw(60);
  }

  @include mobile() {
    padding: tovw(20);
  }

  @include mobile(landscape) {
    padding: tovw(11) tovw(60);
  }

  .switcher {
    opacity: 0;
  }

  .logo {
    --scale: 5;
    --offset-left: 8.9vw;
    --offset-top: 4.4vw;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) scale(var(--scale));
  }
}

.isOtherPage {
  opacity: 0;
  visibility: hidden;
}