.root {
  position: fixed;
  z-index: var(--z-header);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: tovw(30) tovw(95) tovw(30) tovw(126);
  width: 100%;

  @include tabletAll {
    padding: tovw(20) tovw(60);
  }

  @include mobile() {
    padding: tovw(20);
  }

  @include mobile(landscape) {
    padding: tovw(11) tovw(60);
  }

  .switcher {
    opacity: 0;
  }
}

.logoWrap {
  width: tovw(156);
  height: tovw(32);

  @include mobile {
    width: tovw(126);
    height: tovw(25);
  }

  @include mobile(landscape) {
    width: tovw(126);
    height: tovw(25);
  }
}

.logo {
  --scale: 5;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: scale(var(--scale));
  margin-left: tovw(-78);
  margin-top: tovw(-16);

  @include mobile {
    margin-left: tovw(-63);
    margin-top: tovw(-12);
  }

  @include mobile(landscape) {
    margin-left: tovw(-63);
    margin-top: tovw(-12);
  }

  @include tablet {
    --scale: 3.5;
  }

  @include tablet('landscape') {
    --scale: 3.5;
  }

  @include mobile {
    --scale: 2;
  }

  @include mobile('landscape') {
    --scale: 2;
  }
}

.isOtherPage {
  opacity: 0;
  visibility: hidden;
}

.isLoad {
  .logo {
    position: relative;
    transform: scale(1);
  }
}