@use 'sass:map';

@import "vars";
@import "mixins";

$zIndexes: (
  'preloader',
  'cursor',
  'modal',
  'header',
  'transition',
  'header-dropdown',
  'selectors'
);

:root {
  @include mobile {
    --vw-screen: 390;
  }

  @include mobile(landscape) {
    --vw-screen: 844;
  }

  @include tablet(landscape) {
    --vw-screen: 1024;
  }

  @include tablet {
    --vw-screen: 768;
  }

  @include mq(xl) {
    --vw-screen: 1440;
  }

  /* CSS z-index variables */
  
  @each $name in $zIndexes {
    $index: length($zIndexes) - index($zIndexes, $name) + 1;
    --z-#{$name}: #{$index + 10};
  }
}
