@import "reset";
@import "fonts";
@import "mixins";
@import "layout";
@import "gap-system";
@import "colors";
@import "ease";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font), sans-serif;
  background-color: var(--blue);
  color: var(--white);
}

html {
  body {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
  }

  &.fonts-loaded {
    body {
      visibility: visible;
      opacity: 1;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
