.root {
  position: relative;
  height: 100vh;
}

.planet {
  position: absolute;
  z-index: 3;
  bottom: tovw(424);
  left: 50%;
  transform: translateX(-50%);
  width: tovw(391);
  height: tovw(324);
}

.form {
  max-width: 400px;
  padding: tovw(24);

  input {
    display: block;
    width: 100%;
    border: 1px solid var(--white);
    padding: tovw(12) tovw(16);
  }

  .group {
    &:not(:last-child) {
      margin-bottom: tovw(12);
    }
  }

  .label {
    font-weight: bold;
    margin-bottom: tovw(4);
  }

  .btn {
    width: 100%;
    display: block;
    background-color: var(--white);
    text-align: center;
    color: var(--blue);
    padding: tovw(12) tovw(16);
  }
}