.root {
  --mask-size: 0%;
  --parallax-x: 0.5;
  --parallax-y: 0.5;

  position: relative;
  width: 100%;
  height: get-real-vh(100);
  min-height: tovw(800);
  overflow: hidden;
}

.bg {
  position: absolute;
  z-index: 1;
  inset: 0;
  //background-color: var(--blue);
  background-image: url("/images/scene/plus-bg.svg"), radial-gradient(64.36% 118.04% at 69.61% 84.12%, #44ACFF 0%, #086EE6 100%);
  background-repeat: repeat no-repeat;
  background-size: tovw(205), auto;
  transform: translate3d(calc(var(--parallax-x) * 1%), calc(var(--parallax-y) * 1%), 0);
}

.content {
  position: relative;
  z-index: 1;
  max-width: tovw(826);
  margin-left: tovw(56);
  padding-top: tovw(111);
}

.title {
  margin-bottom: tovw(30);
  min-height: tovw(296);
  font-size: tovw(185);
  line-height: 0.8;
  font-weight: 900;
  text-transform: uppercase;
}

.text {
  max-width: tovw(608);
  padding-left: tovw(68);
  font-size: tovw(20);
  line-height: 1.35;
  letter-spacing: 0.01em;
  font-weight: 400;
}

.main {
  position: absolute;
  inset: 0;
}

.el {
  position: absolute;
}

.cat {
  z-index: 3;
  bottom: tovw(17);
  left: tovw(58);
  width: tovw(308);
  height: tovw(262);

  transform: translate3d(calc(var(--parallax-x) * 4%), calc(var(--parallax-y) * 4%), 0);
}

.camera {
  z-index: 2;
  bottom: tovw(4);
  left: tovw(140);
  width: tovw(523);
  height: tovw(300);

  transform: translate3d(calc(var(--parallax-x) * 4%), calc(var(--parallax-y) * 4%), 0);
}

.plane {
  z-index: 3;
  bottom: tovw(8);
  right: 0;
  width: tovw(840);
  height: tovw(364);

  transform: translate3d(calc(var(--parallax-x) * 2%), calc(var(--parallax-y) * 2%), 0);
}

.dog {
  z-index: 6;
  bottom: tovw(216);
  right: tovw(295);
  width: tovw(252);
  height: tovw(284);

  transform: rotate(calc(var(--parallax-x) * 2deg)) translate3d(calc(var(--parallax-x) * 3%), calc(var(--parallax-y) * 3%), 0);
}

.flag {
  z-index: 5;
  bottom: tovw(194);
  right: tovw(478);
  width: tovw(253);
  height: tovw(382);

  transform: rotate(calc(var(--parallax-x) * -2deg)) translate3d(calc(var(--parallax-x) * 2%), calc(var(--parallax-y) * 2%), 0);
}

.boom {
  z-index: 4;
  top: tovw(92);
  left: tovw(-20);
  width: tovw(413);
  height: tovw(281);

  transform: translate3d(calc(var(--parallax-x) * 3%), calc(var(--parallax-y) * 3%), 0);
}

.boomShadow {
  z-index: 3;
  top: tovw(146);
  left: tovw(-58);
  width: tovw(467);
  height: tovw(368);

  transform: translate3d(calc(var(--parallax-x) * 4%), calc(var(--parallax-y) * 4%), 0);
}

.planet {
  z-index: 3;
  bottom: tovw(424);
  right: 0;
  width: tovw(391);
  height: tovw(324);

  transform: rotate(calc(var(--parallax-x) * 5deg)) translate3d(calc(var(--parallax-x) * 1%), calc(var(--parallax-y) * 1%), 0);
}

.sceneAlt {
  position: absolute;
  z-index: 4;
  bottom: tovw(87);
  right: tovw(20);
  width: tovw(793);
  height: tovw(620);
  mask-image: url("/images/scene/mask.svg");
  mask-size: var(--mask-size);
  mask-position: center center;
  mask-repeat: no-repeat;
}

.space {
  position: absolute;
  z-index: 2;
  inset: 0;
}

.moon {
  z-index: 4;
  left: tovw(-4);
  bottom: tovw(-68);
  width: tovw(788);
  height: tovw(350);

  transform: translate3d(calc(var(--parallax-x) * 2%), calc(var(--parallax-y) * 2%), 0);
}

.earth {
  z-index: 4;
  right: tovw(16);
  top: tovw(-27);
  width: tovw(314);
  height: tovw(312);

  transform: rotate(calc(var(--parallax-x) * 5deg))  translate3d(calc(var(--parallax-x) * 1%), calc(var(--parallax-y) * 1%), 0);
}

.shadow {
  z-index: 5;
  top: tovw(78);
  left: tovw(42);
  width: tovw(638);
  height: tovw(501);

  transform: translate3d(calc(var(--parallax-x) * 1%), calc(var(--parallax-y) * 1%), 0);
}

.stars {
  z-index: 3;
  top: tovw(118);
  left: tovw(56);
  width: tovw(578);
  height: tovw(288);

  transform: scale(calc(1 - (0.1 * var(--parallax-x)))) translate3d(calc(var(--parallax-x) * 1%), calc(var(--parallax-y) * 1%), 0);
}

.bottomBg {
  z-index: 1;
  left: 50%;
  bottom: tovw(-192);
  transform: translateX(-50%);
  width: 152vw;
  border-radius: 50%;
  height: tovw(436);
  background: rgba(0, 48, 217, 0.24);
}