.root {
  --mask-size: 0%;
  --parallax-x: 0.5;
  --parallax-y: 0.5;

  position: relative;
  width: 100%;
  height: get-real-vh(100);
  min-height: tovw(800);
  overflow: hidden;
  //visibility: hidden;

  @include tablet {
    min-height: tovw(1024);
  }

  @include tablet(landscape) {
    min-height: tovw(720);
  }

  @include mobile {
    min-height: tovw(500);
  }

  @include mobile(landscape) {
    min-height: tovw(390);
  }
}

.pluses {
  --progress-bg: 0;
  --p-offset: #{tovw(244)};

  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;

  background-image: url("/images/scene/plus-bg.svg");
  background-repeat: repeat;
  background-size: tovw(226);

  opacity: 0;
  transform-origin: top center;

  clip-path: inset(0 0 calc(var(--p-offset) * var(--progress-bg)) 0);

  @include tabletAll {
    background-size: tovw(200);
  }

  @include tablet {
    --p-offset: #{tovw(298)};
  }

  @include tablet(landscape) {
    --p-offset: #{tovw(298)};
  }

  @include mobileLg {
    --p-offset: 45vh;
  }

  @include mobile {
    --p-offset: 40vh;

    background-size: tovw(100);
  }

  @include mobile(landscape) {
    --p-offset: #{tovw(117)};

    background-size: tovw(100);
  }
}

.bg {
  --offset: 140%;
  position: absolute;
  z-index: 1;
  inset: -2%;
  background-image: radial-gradient(64.36% 118.04% at calc(69.61% + var(--offset)) 84.12%, #44ACFF 0%, #086EE6 100%);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
  //transform: translate3d(calc(var(--parallax-x) * 1%), calc(var(--parallax-y) * 1%), 0);
}

.content {
  position: relative;
  z-index: 1;
  max-width: tovw(826);
  margin-left: tovw(56);
  padding-top: tovw(111);

  @include tablet {
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-top: tovw(94);
    padding-bottom: tovw(80);
    margin-left: tovw(23);
    height: 100%;
  }

  @include tablet(landscape) {
    max-width: tovw(713);
    margin-left: tovw(31);
    padding-top: tovw(84);
  }

  @include mobile {
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: tovw(346);
    margin-left: tovw(21);
    padding-top: 12vh;
    padding-bottom: 3vh;
  }

  @include mobile(landscape) {
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: tovw(346);
    margin-left: tovw(58);
    padding-top: tovw(67);
    padding-bottom: tovw(0);
  }

  @include lang(ru) {
    @include mobile {
      padding-bottom: 2vh;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: tovw(30);
  min-height: tovw(220);
  font-size: tovw(185);
  line-height: 0.8;
  font-weight: 900;
  text-transform: uppercase;

  @include tabletAll {
    min-height: tovw(206);
    font-size: tovw(160);
  }

  @include tablet {
    margin-bottom: tovw(0);
  }

  @include tablet(landscape) {
    margin-bottom: tovw(20);
  }

  @include mobile() {
    min-height: tovw(90);
    font-size: tovw(77);
  }

  @include mobile(landscape) {
    min-height: tovw(124);
    font-size: tovw(77);
  }

  @include lang(ru) {
    @include tablet {
      font-size: tovw(184);
    }

    @include tablet(landscape) {
      font-size: tovw(160);
    }

    @include mobile() {
      font-size: tovw(90);
      min-height: 0;
    }

    @include mobile(landscape) {
      min-height: tovw(105);
      font-size: tovw(90);
    }
  }
}

.text {
  max-width: tovw(608);
  padding-left: tovw(68);
  font-size: tovw(20);
  line-height: 1.35;
  letter-spacing: 0.01em;
  font-weight: 400;

  @include tabletAll {
    max-width: tovw(438);
    font-size: tovw(17);
  }

  @include tablet {
    margin-top: auto;
    padding-left: tovw(48);
  }

  @include tablet(landscape) {
    padding-left: tovw(40);
  }

  @include mobile {
    margin-top: auto;
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    //padding-right: tovw(20);
    font-size: tovw(16);
    line-height: 1.1;
  }

  @include mobile(landscape) {
    max-width: 100%;
    padding-left: tovw(64);
    font-size: tovw(16);
    line-height: 1.1;
  }
}

.main {
  position: absolute;
  inset: 0;
}

.el {
  position: absolute;
  //pointer-events: none;
  //user-select: none;
}

.cat {
  z-index: 5;
  bottom: tovw(17);
  left: tovw(58);
  width: tovw(308);
  height: tovw(262);
  // transform: translate3d(calc(var(--parallax-x) * 4%), calc(var(--parallax-y) * 4%), 0);

  @include tabletAll {
    width: tovw(242);
    height: tovw(205);
  }

  @include tablet {
    z-index: 5;
    bottom: tovw(68);
    left: auto;
    right: tovw(-20);

    & > * {
      transform: scaleX(-1);
    }
  }

  @include tablet(landscape) {
    left: tovw(18);
    bottom: tovw(12);
  }

  @include mobile {
    z-index: 5;
    width: tovw(173);
    height: tovw(146);
    left: auto;
    right: tovw(-20);
    //top: 61vh;
    bottom: 12vh;

    & > * {
      transform: scaleX(-1);
    }
  }

  @include mobileLg {
    top: 64vh;
    bottom: auto;
  }

  @include mobile(landscape) {
    z-index: 5;
    width: tovw(153);
    height: tovw(130);
    left: auto;
    right: tovw(38);
    bottom: tovw(-6);

    & > * {
      transform: scaleX(-1);
    }
  }
}

.camera {
  z-index: 4;
  bottom: tovw(4);
  left: tovw(140);
  width: tovw(523);
  height: tovw(300);
  opacity: 1;
  // transform: translate3d(calc(var(--parallax-x) * 4%), calc(var(--parallax-y) * 4%), 0);

  @include tabletAll {
    z-index: 5;
    width: tovw(410);
    height: tovw(236);
  }

  @include tablet {
    bottom: tovw(153);
    left: tovw(-222);
  }

  @include tablet(landscape) {
    bottom: tovw(14);
    left: tovw(82);
  }

  @include mobile {
    z-index: 5;
    width: tovw(264);
    height: tovw(152);
    bottom: 12.5vh;
    // top: 59vh;
    left: tovw(-154);
  }

  @include mobileLg {
    top: 62vh;
    bottom: 0;
  }

  @include mobile(landscape) {
    z-index: 5;
    width: tovw(234);
    height: tovw(134);
    bottom: tovw(4);
    left: tovw(-124);
  }
}

.planeGroup {
  right: tovw(8);
  bottom: tovw(10);
  width: tovw(840);
  height: tovw(568);
  z-index: 4;

  @include tabletAll {
    width: tovw(666);
    height: tovw(450);
  }

  @include tablet {
    bottom: tovw(180);
    right: tovw(-16);
  }

  @include tablet(landscape) {
    bottom: tovw(46);
    right: tovw(-56);
  }

  @include mobile {
    width: tovw(424);
    height: tovw(294);
    bottom: auto;
    top: 29.5vh;
    right: tovw(-30);
  }

  @include mobile(landscape) {
    width: tovw(376);
    height: tovw(256);
    bottom: tovw(34);
    right: tovw(108);
  }
}

.planeGroupInner {
  position: absolute;
  z-index: 2;
  inset: 0;
  transform: translate3d(calc(var(--parallax-x) * 2%), calc(var(--parallax-y) * 2%), 0);
}

.plane {
  z-index: 3;
  bottom: 0;
  right: 0;
  width: tovw(840);
  height: tovw(364);
  opacity: 1;

  @include tabletAll {
    width: tovw(666);
    height: tovw(286);
  }

  @include mobile {
    width: tovw(424);
    height: tovw(184);
  }

  @include mobile(landscape) {
    width: tovw(381);
    height: tovw(168);
  }
}

.dog {
  z-index: 6;
  bottom: tovw(204);
  right: tovw(250);
  width: tovw(286);
  height: tovw(314);

  //& > * {
  //  transform: translate3d(calc(var(--parallax-x) * 2%), calc(var(--parallax-y) * 2%), 0);
  //}

  @include tabletAll {
    width: tovw(216);
    height: tovw(244);
  }

  @include tablet {
    bottom: tovw(160);
    right: tovw(226);
  }

  @include tablet(landscape) {
    bottom: tovw(160);
    right: tovw(228);
  }

  @include mobile {
    bottom: tovw(102);
    right: tovw(142);
    width: tovw(132);
    height: tovw(149);
  }

  @include mobile(landscape) {
    bottom: tovw(90);
    right: tovw(126);
    width: tovw(118);
    height: tovw(134);
  }
}

.dogAlt {
  bottom: tovw(192);
  right: tovw(287);

  @include tablet {
    bottom: tovw(188);
    right: tovw(253);
  }

  @include tablet(landscape) {
    bottom: tovw(191);
    right: tovw(256);
  }

  @include mobile {
    bottom: tovw(127);
    right: tovw(146);
  }

  @include mobile(landscape) {
    bottom: tovw(150);
    right: tovw(132);
  }
}


.flag {
  z-index: 3;
  bottom: tovw(186);
  right: tovw(478);
  width: tovw(253);
  height: tovw(382);
  transform-origin: 35% 100%;

  //& > * {
  //  transform: rotate(calc(var(--parallax-x) * -2deg)) translate3d(calc(var(--parallax-x) * 2%), calc(var(--parallax-y) * 2%), 0);
  //}

  //border: 1px solid red;

  @include tabletAll {
    width: tovw(200);
    height: tovw(302);
  }

  @include tablet {
    bottom: tovw(149);
    right: tovw(378);
  }

  @include tablet(landscape) {
    bottom: tovw(144);
    right: tovw(382);
  }

  @include mobile {
    bottom: tovw(100);
    right: tovw(235);
    width: tovw(127);
    height: tovw(192);
  }

  @include mobile(landscape) {
    bottom: tovw(82);
    right: tovw(215);
    width: tovw(114);
    height: tovw(172);
  }
}

.flagAlt {
  z-index: 5;
  bottom: tovw(174);
  left: tovw(82);

  @include tablet {
    bottom: tovw(177);
    left: tovw(62);
  }

  @include tablet(landscape) {
    bottom: tovw(175);
    left: tovw(56);
  }

  @include mobile {
    bottom: tovw(125);
    left: tovw(58);
  }

  @include mobile(landscape) {
    bottom: tovw(142);
    left: tovw(41);
  }
}

.boomWrap {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

.boom {
  z-index: 2;
  top: tovw(92);
  left: tovw(-20);
  width: tovw(413);
  height: tovw(281);
  transform: translate3d(calc(var(--parallax-x) * 3%), calc(var(--parallax-y) * 3%), 0);

  @include tabletAll {
    width: tovw(356);
    height: tovw(242);
  }

  @include tablet {
    top: tovw(62);
    left: tovw(-30);
  }

  @include tablet(landscape) {
    top: tovw(67);
    left: tovw(-26);
  }

  @include mobile {
    width: tovw(172);
    height: tovw(117);
    top: 12vh;
    left: tovw(-2);
  }

  @include mobile(landscape) {
    width: tovw(172);
    height: tovw(117);
    top: tovw(65);
    left: tovw(-2);
  }
}

.boomShadow {
  z-index: 1;
  top: tovw(170);
  left: tovw(-20);
  width: tovw(467);
  height: tovw(328);
  transform: translate3d(calc(var(--parallax-x) * 3%), calc(var(--parallax-y) * 3%), 0);

  @include tabletAll {
    width: tovw(356);
    height: tovw(240);
  }

  @include tablet {
    top: tovw(142);
    left: tovw(-46);
  }

  @include tablet(landscape) {
    top: tovw(174);
    left: tovw(-30);
  }

  @include mobile {
    top: 16.8vh;
    left: tovw(-28);
    width: tovw(195);
    height: tovw(133);
  }

  @include mobile(landscape) {
    top: tovw(124);
    left: tovw(-20);
    width: tovw(195);
    height: tovw(133);
  }
}

.planet {
  z-index: 3;
  bottom: tovw(408);
  right: tovw(-10);
  width: tovw(394);
  height: tovw(324);

  & > * {
    transform: rotate(calc(var(--parallax-x) * 5deg)) translate3d(calc(var(--parallax-x) * 1%), calc(var(--parallax-y) * 1%), 0);
  }

  @include tabletAll {
    width: tovw(319);
    height: tovw(318);
  }

  @include tablet {
    bottom: tovw(280);
    right: tovw(-10);
  }

  @include tablet(landscape) {
    bottom: tovw(280);
    right: tovw(-10);
  }

  @include mobile {
    width: tovw(203);
    height: tovw(204);
    top: tovw(-92);
    right: tovw(-3);
  }

  @include mobile(landscape) {
    width: tovw(180);
    height: tovw(181);
    bottom: tovw(164);
    right: 0;
  }

  @include lang(ru) {
    @include mobile {
      top: tovw(-92);
      right: tovw(-3);
    }
  }
}


.mask {
  width: 0;
  height: 0;
  overflow: unset;
  //transform: rotate(-45deg);

  //@include hover {
  //  path {
  //    transform: scale(0, 0);
  //  }
  //}

  path {
    //transform-origin: left left;
    transform: scale(0.001191895113, 0.001648428835);
    //transform: scale(0.001261034048, 0.001612903226);
    //transform-box: fill-box;
    //transform-origin: center;
  }
}

.sceneAltInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: url(#mask);
}

.sceneAlt {
  position: absolute;
  z-index: 7;
  bottom: tovw(62);
  right: tovw(20);
  width: tovw(793);
  height: tovw(620);
  opacity: 0;
  //mask-image: url("/images/scene/mask-new.svg");
  //mask-size: var(--mask-size);
  //mask-position: center center;
  //mask-repeat: no-repeat;
  //clip-path: url(#mask);
  //pointer-events: none;
  //user-select: none;
  //transition: opacity 0.3s var(--ease-in-out-quad);
  //
  //@include hover {
  //  opacity: 1;
  //}

  @include tabletAll {
    width: tovw(620);
    height: tovw(482);
  }

  @include tablet {
    bottom: tovw(46);
    right: tovw(10);
  }

  @include tablet(landscape) {
    bottom: tovw(43);
    right: tovw(30);
  }

  @include mobile {
    width: tovw(400);
    height: tovw(313);
    top: tovw(-44);
    left: tovw(4);
  }

  @include mobile(landscape) {
    width: tovw(380);
    height: tovw(300);
    bottom: tovw(10);
    right: tovw(-10);
  }
}

.space {
  position: absolute;
  z-index: 2;
  inset: 0;
}

.moonGroup {
  position: absolute;
  z-index: 4;
  left: 0;
  bottom: tovw(-50);
  width: tovw(840);
  height: tovw(568);
  transform: translate3d(calc(var(--parallax-x) * 2%), calc(var(--parallax-y) * 2%), 0);

  @include tabletAll {
    width: tovw(666);
    height: tovw(440);
    bottom: tovw(-74);
  }

  @include tablet {
    left: tovw(-9);
  }

  @include tablet(landscape) {
    left: tovw(12);
  }

  @include mobile {
    width: tovw(424);
    height: tovw(294);
  }

  @include mobile(landscape) {
    width: tovw(376);
    height: tovw(250);
    bottom: tovw(-70);
  }
}

.moon {
  left: 0;
  bottom: 0;
  width: tovw(778);
  height: tovw(350);

  @include tabletAll {
    width: tovw(610);
    height: tovw(270);
  }

  @include tablet {
    bottom: tovw(42);
    left: 0;
  }

  @include tablet(landscape) {
    bottom: tovw(48);
    left: 0;
  }

  @include mobile {
    left: tovw(18);
    bottom: tovw(26);
    width: tovw(384);
    height: tovw(177);
  }

  @include mobile(landscape) {
    left: tovw(-2);
    bottom: tovw(67);
    width: tovw(362);
    height: tovw(157);
  }
}

.earth {
  z-index: 4;
  right: tovw(6);
  top: tovw(-42);
  width: tovw(314);
  height: tovw(312);

  & > * {
    transform: rotate(calc(var(--parallax-x) * 5deg))  translate3d(calc(var(--parallax-x) * 1%), calc(var(--parallax-y) * 1%), 0);
  }

  @include tabletAll {
    width: tovw(248);
    height: tovw(246);
  }

  @include tablet {
    right: tovw(12);
    top: tovw(-38);
  }

  @include tablet(landscape) {
    right: tovw(-10);
    top: tovw(-34);
  }

  @include mobile {
    width: tovw(158);
    height: tovw(158);
    right: tovw(-4);
    top: tovw(-24);
  }

  @include mobile(landscape) {
    width: tovw(140);
    height: tovw(140);
    right: tovw(30);
    top: tovw(-15);
  }

  @include lang(ru) {
    @include mobile {
      right: tovw(-4);
      top: tovw(-24);
    }
  }
}

.shadow {
  z-index: 5;
  bottom: tovw(102);
  left: tovw(54);
  width: tovw(638);
  height: tovw(501);

  //transform: translate3d(calc(var(--parallax-x) * 1%), calc(var(--parallax-y) * 1%), 0);

  @include tabletAll {
    width: tovw(506);
    height: tovw(394);
  }

  @include tablet {
    top: tovw(-78);
    left: tovw(34);
  }

  @include tablet(landscape) {
    top: tovw(-82);
    left: tovw(30);
  }

  @include mobile {
    top: tovw(-50);
    left: tovw(38);
    width: tovw(328);
    height: tovw(258);
  }

  @include mobile(landscape) {
    top: tovw(-90);
    left: tovw(25);
    width: tovw(291);
    height: tovw(228);
  }
}

.stars {
  z-index: 3;
  top: tovw(100);
  left: tovw(60);
  width: tovw(578);
  height: tovw(288);

  transform: scale(calc(1 - (0.1 * var(--parallax-x)))) translate3d(calc(var(--parallax-x) * 1%), calc(var(--parallax-y) * 1%), 0);

  @include tabletAll {
    width: tovw(458);
    height: tovw(226);
  }

  @include tablet {
    top: tovw(81);
    left: tovw(40);
  }

  @include tablet(landscape) {
    top: tovw(78);
    left: tovw(56);
  }

  @include mobile {
    width: tovw(291);
    height: tovw(145);
    top: tovw(50);
    left: tovw(42);
  }

  @include mobile(landscape) {
    width: tovw(258);
    height: tovw(129);
    top: tovw(49);
    left: tovw(32);
  }
}

.bottomBg {
  z-index: 1;
  left: 50%;
  bottom: tovw(-192);
  transform: translateX(-50%);
  width: 152vw;
  height: tovw(436);
  border-radius: 50%;
  background: rgba(0, 48, 217, 0.24);
  opacity: 1;
  transform-origin: top center;

  @include tablet {
    width: 240vw;
    bottom: tovw(-77);
    height: tovw(375);
  }

  @include mobile {
    width: 480vw;
    bottom: -5vh;
    height: 40vh;
  }

  @include mobileLg {
    height: 50vh;
  }

  @include mobile(landscape) {
    width: 220vw;
    bottom: tovw(-258);
    height: tovw(375);
  }
}